<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Login</th>
        <th scope="col">Email</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Birthday</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.login }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.birthday.toLocaleDateString() }}</td>
        <td>{{ user.roleId == 1 ? 'Admin' : 'User' }}</td>
        <td>
          <a routerLink="/edit" [queryParams]="{ login: user.login }" class="btn btn-info">Edit</a>
          <span (click)="delete(user.login)" class="btn btn-info">Delete</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
